.messageList {

}


.message {
    background-color: lightgray;
    margin: 1em 1em 2em 1em;
    padding: 1em 1em 1em 1em;
    width: fit-content;
    border-radius: 0.3em;

    position: relative;
}

.message::after {
    position: absolute;
    bottom: 100%;

    content: "MESSAGE";
    color: gray;
    font-size: 60%;
}

.message .top {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.4em;
}

.message .top .sender {
    font-size: 1.5em;
    font-weight: 600;
}

.message .top .timestamp {
    text-align: center;
    color: rgba(100, 100, 100, 1);
}

.message .content {}